<a href="https://colab.research.google.com/github/dorosi616/Programmers-exercise/blob/main/230114.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### **Lv1. 개인정보 수집 유효기간**
https://school.programmers.co.kr/learn/courses/30/lessons/150370?language=python3

- https://datascienceschool.net/01%20python/02.15%20%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%97%90%EC%84%9C%20%EB%82%A0%EC%A7%9C%EC%99%80%20%EC%8B%9C%EA%B0%84%20%EB%8B%A4%EB%A3%A8%EA%B8%B0.html
- https://blackhippo.tistory.com/entry/Python-%EC%97%AC%EB%9F%AC%EC%A4%84-%EC%A3%BC%EC%84%9D-%EB%93%A4%EC%97%AC%EB%82%B4%EC%96%B4%EC%93%B0%EA%B8%B0-%EC%BD%94%EB%93%9C-%EC%95%95%EC%B6%95-%EB%B0%8F-%ED%99%95%EC%9E%A5%ED%95%98%EA%B8%B0
- https://jsikim1.tistory.com/144

In [ ]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

def solution(today, terms, privacies):
    answer = []
    idx = 1

    today = today.replace(".", "")
    today = datetime.strptime(today, "%Y%m%d")

    dict_terms = dict()
    for t in terms:
      k, v = t.split(" ")
      dict_terms[k] = int(v)

    for p in privacies:
      date, term = p.split(" ")

      date = date.replace(".", "")
      date = datetime.strptime(date, "%Y%m%d")

      end = date + relativedelta(months=dict_terms[term])
      if end <= today:
        answer.append(idx)

      idx += 1

    return answer

In [ ]:
solution("2022.05.19",	["A 6", "B 12", "C 3"],	["2021.05.02 A", "2021.07.01 B", "2022.02.19 C", "2022.02.20 C"])

[1, 3]

In [ ]:
solution("2020.01.01",	["Z 3", "D 5"],	["2019.01.01 D", "2019.11.15 Z", "2019.08.02 D", "2019.07.01 D", "2018.12.28 Z"])

[1, 4, 5]

In [ ]:
from dateutil.relativedelta import relativedelta

d = datetime.strptime("20190802", "%Y%m%d")
d + relativedelta(months=5)

datetime.datetime(2020, 1, 2, 0, 0)

In [ ]:
from datetime import datetime, timedelta

today = "2022.05.19"
terms = ["A 6", "B 12", "C 3"]
privacies = ["2021.05.02 A", "2021.07.01 B", "2022.02.19 C", "2022.02.20 C"]

idx = 1
answer = []

today = today.replace(".", "")
today = datetime.strptime(today, "%Y%m%d")

dict_terms = dict()
for t in terms:
  k, v = t.split(" ")
  dict_terms[k] = int(v)*30-1

for p in privacies:
  date, term = p.split(" ")

  date = date.replace(".", "")
  date = datetime.strptime(date, "%Y%m%d")

  end = date + timedelta(days=dict_terms[term])
  if end <= today:
    answer.append(idx)

  idx += 1

answer

[1, 3]

#### **Lv2. 귤 고르기**
https://school.programmers.co.kr/learn/courses/30/lessons/138476

- https://www.ebeb-blog.com/2021/08/06/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EB%A6%AC%EC%8A%A4%ED%8A%B8-%EC%B9%B4%EC%9A%B4%ED%8A%B8-%EC%A0%95%EB%A0%AC-counter-sort-with-aes-ddt/

In [ ]:
from collections import Counter

def solution(k, tangerine):
    answer = 0
    new = []

    count = Counter(tangerine)
    li_count = count.most_common()

    for i in li_count:
      if answer+i[1] < k:
        new.append(i[0])
        answer += i[1]

      else:
        new.append(i[0])
        break

    return len(new)

In [ ]:
solution(6,	[1, 3, 2, 5, 4, 5, 2, 3])

3

In [ ]:
a = [1, 3, 2, 5, 4, 5, 2, 3]
b = Counter(a)
b

Counter({1: 1, 3: 2, 2: 2, 5: 2, 4: 1})

In [ ]:
b.most_common()

[(3, 2), (2, 2), (5, 2), (1, 1), (4, 1)]

In [ ]:
from collections import Counter

k = 6
tangerine = [1, 3, 2, 5, 4, 5, 2, 3]

count = Counter(tangerine)
li_count = count.most_common()

new = []
sum = 0
for i in li_count:

  if sum+i[1] < k:
    new.append(i[0])
    sum += i[1]

  else:
    new.append(i[0])
    break

print(len(new))

3

#### **Lv2. [3차] 압축**
https://school.programmers.co.kr/learn/courses/30/lessons/17684

In [ ]:
def solution(msg):
    answer = []
    cut = []

    diction = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

    for i in range(len(msg)):
      for j in range(i+1,len(msg)+1):
        if msg[i:j] in diction:
          if msg[i:j] not in cut:
            cut.append(msg[i:j])
        if msg[i:j] not in diction:
          diction.append(msg[i:j])
          break
    
    for c in cut:
      answer.append(diction.index(c)+1)


    return answer

In [ ]:
solution("ABABABABABABABAB")

[1, 2, 27, 28, 29, 30, 31, 32, 33, 34, 35]

In [ ]:
msg = "KAKAO"

answer = []
diction = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

for i in range(len(msg)):
  if msg[i:i+2] not in diction:
    diction.append(msg[i:i+2])
    answer.append(diction.index(msg[i])+1)
  else:
    answer.append(diction.index(msg[i])+1)

In [ ]:
msg = "TOBEORNOTTOBEORTOBEORNOT"

answer = []
cut = []
diction = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

for i in range(len(msg)):
  for j in range(i+1,len(msg)+1):
    if msg[i:j] in diction:
      if msg[i:j] not in cut:
        cut.append(msg[i:j])
        continue
    if msg[i:j] not in diction:
      diction.append(msg[i:j])
      break
    
for c in cut:
  answer.append(diction.index(c)+1)

answer

[20, 15, 2, 5, 18, 14, 27, 28, 29, 30, 31, 36, 37, 38, 39, 32, 33, 34]

In [ ]:
cut

['T', 'O', 'B', 'E', 'R', 'N', 'OR', 'TO', 'OB', 'BE', 'EO', 'OT']

In [ ]:
diction

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z',
 'TO',
 'OB',
 'BE',
 'EO',
 'OR',
 'RN',
 'NO',
 'OT',
 'TT',
 'TOB',
 'OBE',
 'BEO',
 'EOR',
 'ORT',
 'RT',
 'TOBE',
 'OBEO',
 'BEOR',
 'EORN',
 'ORN',
 'RNO',
 'NOT']

In [ ]:
msg = "KAKAO"