<a href="https://colab.research.google.com/github/dorosi616/Programmers-exercise/blob/main/230225.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### **Lv2. 점프와 순간이동**
https://school.programmers.co.kr/learn/courses/30/lessons/12980

In [ ]:
def solution(n):
    ans = 0

    while n != 0:
      if n % 2 == 0:
        n = n // 2
    
      else:
        n = n-1
        ans += 1

    return ans

#### **Lv2. 124 나라의 숫자**
https://school.programmers.co.kr/learn/courses/30/lessons/12899

In [ ]:
# 참고 : https://hmkim312.github.io/posts/124%EB%82%98%EB%9D%BC%EC%9D%98_%EC%88%AB%EC%9E%90/

In [ ]:
def solution(n):
    answer = ''
    nums = [4, 1, 2]
    
    while n >= 1:
        n, rest = divmod(n, 3)

        answer = str(nums[rest]) + answer
        if rest == 0:
            n -= 1
        
    return answer

In [ ]:
solution(15)

'114'

#### **Lv2. 메뉴 리뉴얼**
https://school.programmers.co.kr/learn/courses/30/lessons/72411

In [ ]:
from itertools import combinations
from collections import Counter

def solution(orders, course):

    orders = ["".join(sorted(x)) for x in orders]

    res = []

    for j in course:
      cnt = []
      for i in range(len(orders)):
        cnt += list(combinations(orders[i], j))

      if Counter(cnt).most_common() != [] :
        common = Counter(cnt).most_common()[0][1]
        for k in Counter(cnt).most_common():
          if (k[1] == common) and (common >= 2):
            e = "".join(k[0])
            res.append(e)

    res.sort()

    return res

In [ ]:
solution(["ABCFG", "AC", "CDE", "ACDE", "BCFG", "ACDEH"], [2,3,4])

['AC', 'ACDE', 'BCFG', 'CDE']

In [ ]:
solution(["ABCDE", "AB", "CD", "ADE", "XYZ", "XYZ", "ACD"],	[2,3,5])

['ACD', 'AD', 'ADE', 'CD', 'XYZ']

In [ ]:
solution(["XYZ", "XWY", "WXA"],	[2,3,4])

['WX', 'XY']