<a href="https://colab.research.google.com/github/dorosi616/Programmers-exercise/blob/main/230204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### **둘만의 암호**
https://school.programmers.co.kr/learn/courses/30/lessons/155652

In [ ]:
from string import ascii_lowercase

def solution(s, skip, index):
  answer = ''
    
  alpha = list(ascii_lowercase)

  for w in skip:       
    alpha.remove(w) 

  for i in range(len(s)):            
    idx = alpha.index(s[i])+index       
    if idx >= len(alpha):               
      idx = idx % len(alpha)            
    answer += alpha[idx]                

  return answer

In [ ]:
solution("aukks", "wbqd", 5)

'happy'

#### **크기가 작은 부분문자열**
https://school.programmers.co.kr/learn/courses/30/lessons/147355

In [ ]:
def solution(t, p):

  answer = 0

  for i in range(len(t)):
    if (i+len(p)) <= len(t):
      if p >= t[i:i+len(p)]:
        answer += 1

  return answer

In [ ]:
solution("3141592","271")

2

In [ ]:
solution("500220839878", "7")

8

In [ ]:
solution("10203", "15")

3

#### **호텔 대실**
https://school.programmers.co.kr/learn/courses/30/lessons/155651

In [ ]:
book_time = [["15:00", "17:00"], ["16:40", "18:20"], ["14:20", "15:20"], ["14:10", "19:20"], ["18:20", "21:20"]]

In [ ]:
room = [[] for i in range(len(book_time))]

# 첫 손님
room[0].append(book_time[0])

for i in range(1, len(book_time)):
  
  new_start_h, new_start_m = map(int, book_time[i][0].split(":"))   # 새로운 손님 시작시간
  new_end_h, new_end_m = map(int, book_time[i][1].split(":"))       # 새로운 손님 끝시간

  for j in range(len(room)):
    for k in range(len(room[j])):
      start_h, start_m = map(int, room[j][k][0].split(":"))         # 예약된 손님 시작시간
      end_h, end_m = map(int, room[j][k][1].split(":"))             # 예약된 손님 끝시간
      if end_m >= 50:
        end_h += 1
        end_m = (end_m+10) - 60
      else:
        end_m += 10
      
      if start_h <= new_start_h <= end_h:       # 시작hour과 끝hour 사이에 있을 경우
        if start_h == new_start_h == end_h:     # 시작hour과 끝hour이 같을 경우
          if (start_m < new_start_m < end_m) or (start_m < new_end_m < end_m):     # 시간minute과 끝minute 사이에 있을 경우
            break
        else:
          if start_h <= new_end_h <= end_h:
            break

      else:
        room[j].append(book_time[i])

In [ ]:
room

[[['15:00', '17:00'],
  ['14:20', '15:20'],
  ['14:10', '19:20'],
  ['18:20', '21:20'],
  ['18:20', '21:20']],
 [],
 [],
 [],
 []]

In [ ]:
room = [[] for i in range(len(book_time))]

room[0].append(book_time[0]) # 첫 손님

for i in range(1, len(book_time)):
  new_end_h, new_end_m = map(int, book_time[i][1].split(":"))       # 새로운 손님 끝시간
  new_start_h, new_start_m = map(int, book_time[i][0].split(":"))   # 새로운 손님 시작시간

  for j in range(len(room)):
    for k in range(len(room[j])):
      end_h, end_m = map(int, room[j][k][1].split(":"))             # 예약된 손님 끝시간
      start_h, start_m = map(int, room[j][k][0].split(":"))         # 예약된 손님 시작시간

      if start_h <= new_start_h <= end_h:
        break
      if start_h <= new_end_h <= end_h:
        break
      room[j].append(book_time[i])

In [ ]:
room

[[['15:00', '17:00'], ['14:10', '19:20'], ['18:20', '21:20']], [], [], [], []]

In [ ]:
book_time = [["15:00", "17:00"], ["16:40", "18:20"], ["14:20", "15:20"], ["14:10", "19:20"], ["18:20", "21:20"]]
book_time2 = []
room = []

for bt in book_time:
  book_time2.append( [int(bt[0].split(":")[0]) * 60 +  int(bt[0].split(":")[1]), int(bt[1].split(":")[0]) * 60 +  int(bt[1].split(":")[1]) + 10] )
  
book_time2.sort()

for bt in book_time2:
  bt

[[850, 1170], [860, 930], [900, 1030], [1000, 1110], [1100, 1290]]

#### **할인 행사**
https://school.programmers.co.kr/learn/courses/30/lessons/131127

In [ ]:
from collections import Counter

def solution(want, number, discount):
    bag = dict()
    day = 0

    for i in range(len(want)):
      bag[want[i]] = number[i]

    for j in range(len(discount)):

      res = True

      if j+10 <= len(discount):
        cnt = Counter(discount[j:j+10])

        for k in bag:
          if k not in cnt:
            res = False
            break
          if (k in cnt) and (cnt[k] < bag[k]):
            res = False
            break

        if res == True:
          day += 1

    return day

In [ ]:
solution(["banana", "apple", "rice", "pork", "pot"],	[3, 2, 2, 2, 1],	["chicken", "apple", "apple", "banana", "rice", "apple", "pork", "banana", "pork", "rice", "pot", "banana", "apple", "banana"])

3

In [ ]:
want = ["banana", "apple", "rice", "pork", "pot"]
number = [3, 2, 2, 2, 1]
discount = ["chicken", "apple", "apple", "banana", "rice", "apple", "pork", "banana", "pork", "rice", "pot", "banana", "apple", "banana"]

In [ ]:
want = ["apple"]	
number = [10]	
discount = ["banana", "banana", "banana", "banana", "banana", "banana", "banana", "banana", "banana", "banana"]