<a href="https://colab.research.google.com/github/dorosi616/Programmers-exercise/blob/main/230211.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### **Lv2. 숫자블록**
https://school.programmers.co.kr/learn/courses/30/lessons/12923

In [ ]:
begin = 1
end = 10
answer = [0 for i in range(begin, end+1)]

for num in range(begin, end+1):  
  for i in range(begin, end//2+1):
    if (num%i == 0) and (num != i):
      answer[num-1] = i

answer

[0, 1, 1, 2, 1, 3, 1, 4, 3, 5]

In [ ]:
begin = 2
end = 10
answer = [0 for i in range(begin, end+1)]

for i in range(begin, end+1): 
  for j in range(i-1, 0, -1):
    if (i%j==0):
      answer[len(answer)-(end-i)-1] = j
      break

In [ ]:
begin = 2
end = 10
answer = [i for i in range(begin, end+1)]

answer

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
answer

[1, 1, 2, 1, 3, 1, 4, 3, 5]

In [ ]:
def solution(begin, end):
    answer = [0 for i in range(begin, end+1)]

    for num in range(begin, end+1):  
      for i in range(begin, end//2+1):
        if (num%i == 0) and (num != i):
          answer[num-1] = i

    return answer

In [ ]:
	[0, 1, 1, 2, 1, 3, 1, 4, 3, 5]