<a href="https://colab.research.google.com/github/dorosi616/Programmers-exercise/blob/main/230228.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### **Lv1. 3진법 뒤집기**
https://school.programmers.co.kr/learn/courses/30/lessons/68935

* divmod() : 몫과 나머지를 같이 반환해주는 함수
* int(x, base) : base 진법으로 구성된 str 형식의 수를 10진법으로 변환해 줌

In [ ]:
def solution(n):
    answer = 0
    three = ''
    
    while n >= 1:
        n, rest = divmod(n, 3)
        three += str(rest)

    answer = int(three,3)  
    
    return answer

In [ ]:
solution(45)

7

#### **Lv1. 두 개 뽑아서 더하기**
https://school.programmers.co.kr/learn/courses/30/lessons/68644

In [ ]:
def solution(numbers):
    answer = []
    
    for i in range(len(numbers)):
        for j in range(i+1, len(numbers)):
            if numbers[i]+numbers[j] not in answer:
                answer.append(numbers[i]+numbers[j])
                
    answer.sort()
                
    return answer

In [ ]:
solution([2,1,3,4,1])

[2, 3, 4, 5, 6, 7]

In [ ]:
s = "110010101001"	

zero = 0
cnt = 0

while s != "1":
  
  for i in s:
      if i=="0":
          zero += 1

  d, s = divmod(zero, 2)
  s = str(s)
  
  cnt += 1

0