<a href="https://colab.research.google.com/github/dorosi616/Programmers-exercise/blob/main/230307.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### **Lv1. 과일장수**
https://school.programmers.co.kr/learn/courses/30/lessons/135808

In [ ]:
def solution(k, m, score):
    answer = 0
    apple = []

    score.sort(reverse=True)

    for i in range(len(score)):
      if (i+1)%m == 1:
        apple = []
      apple.append(score[i])
    
      if (i+1)%m == 0:
        answer += (min(apple)*m)
    
    return answer

In [ ]:
solution(4,	3,	[4, 1, 2, 2, 4, 4, 4, 4, 1, 2, 4, 2])

33

#### **Lv1. 명예의 전당(1)**
https://school.programmers.co.kr/learn/courses/30/lessons/138477

In [ ]:
def solution(k, score):
    answer = []
    hall = []
    
    for s in score:
        hall.append(s)
        hall.sort(reverse=True)
        answer.append(min(hall[:k]))
        
    return answer

In [ ]:
solution(4,	[0, 300, 40, 300, 20, 70, 150, 50, 500, 1000])

[0, 0, 0, 0, 20, 40, 70, 70, 150, 300]

#### **Lv1. 탐욕법**
https://school.programmers.co.kr/learn/courses/30/lessons/42862

In [ ]:
def solution(n, lost, reserve):
    answer = 0
    cnt = 0
    student = [i for i in range(1,n+1)]

    set_lost = set(lost) - set(reserve)
    set_reserve = set(reserve) - set(lost)

    for i in set_reserve:
      if i-1 in set_lost:
        set_lost.remove(i-1)
      elif i+1 in set_lost:
        set_lost.remove(i+1)

    answer = n - len(set_lost)

    return answer

In [ ]:
solution(5,	[2, 4],	[1, 3, 5])

5