<a href="https://colab.research.google.com/github/dorosi616/Programmers-exercise/blob/main/230306.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### **Lv1. 모의고사**
https://school.programmers.co.kr/learn/courses/30/lessons/42840

In [ ]:
def solution(answers):
    answer = []
    
    student = {1:[1, 2, 3, 4, 5], 2:[2, 1, 2, 3, 2, 4, 2, 5], 3:[3, 3, 1, 1, 2, 2, 4, 4, 5, 5]}
    score = {1:0, 2:0, 3:0}
  
    for k,v in student.items():
        for i in range(len(answers)):
            if answers[i]==student[k][(i%len(student[k]))]:
                score[k] += 1

    for k,v in score.items() :
        if v==max(score.values()):
            answer.append(k)
            
    return answer

In [ ]:
# 다른풀이
# https://ebbnflow.tistory.com/241

def solution(answers):
    student = {1:[1,2,3,4,5], 2:[2,1,2,3,2,4,2,5], 3:[3,3,1,1,2,2,4,4,5,5]}
    score = {1:0, 2:0, 3:0}

    for idx, answer in enumerate(answers):
        for key, value in student.items():
            if answer == value[idx % len(value)]:
                score[key] += 1
                
    highest = max(score.values())
    result = [key for key, value in score.items() if value == highest]

    return result

[1]

In [ ]:
solution([1,3,2,4,2])

[1, 2, 3]

#### **Lv1. 기사단원의 무기**
https://school.programmers.co.kr/learn/courses/30/lessons/136798

In [ ]:
# 시간초과

def solution(number, limit, power):

    answer = 0
    
    for i in range(1, number+1):
        cnt = 0
        for j in range(1, i+1):
            if i%j == 0:
                cnt += 1
        if cnt > limit: cnt = power
        answer += cnt
    
    return answer

In [ ]:
def solution(number, limit, power):
    answer = 0

    for i in range(1, number+1):
      cnt = 0
      for j in range(1, int(i**(0.5))+1):
        if (i%j == 0) and ((j**2)!=i):
          cnt += 2
        if (i%j == 0) and ((j**2)==i):
          cnt += 1

      if cnt > limit: cnt = power
      answer += cnt


    return answer

In [ ]:
solution(5,3,2)

10

In [ ]:
solution(10,3,2)

21