<a href="https://colab.research.google.com/github/dorosi616/Programmers-exercise/blob/main/230301.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### **Lv0. 배열 회전시키기**
https://school.programmers.co.kr/learn/courses/30/lessons/120844

In [ ]:
from collections import deque

def solution(numbers, direction):
    numbers = deque(numbers)
    
    if direction == "left":
        numbers.append(numbers.popleft())
    else:
        numbers.appendleft(numbers.pop())
    
    
    return list(numbers)

In [ ]:
solution([1, 2, 3],	"right")

[3, 1, 2]

#### **Lv1. 숫자 짝꿍**
https://school.programmers.co.kr/learn/courses/30/lessons/131128

In [ ]:
# 참고 : https://soy3on.tistory.com/m/292

In [ ]:
# 시간초과

def solution(X, Y):
    answer = ''
    nums = []
    
    X = list(X)
    Y = list(Y)
    
    for i in X:
        if i in Y:
            nums.append(i)
            Y.remove(i)    # 속도 저하
            
    if nums==[]:
        answer = "-1"
    else:
        nums.sort(reverse=True)
        answer = ''.join(nums)
        if int(answer)==0:
            answer = "0"
  

    return answer

In [ ]:
# 시간초과

def solution(X, Y):
    nums = dict()
    answer = []
    res = ''

    X = list(X)
    Y = list(Y)

    for x in X:
        if x in Y:
            nums[x] = min(X.count(x), Y.count(x))

    for k,v in nums.items():
        for i in range(v):
            answer.append(k)
            
    if answer==[]:
        res = "-1"
    else:
        answer.sort(reverse=True)
        res = ''.join(answer)
        if int(res)==0:
            res = "0"
  

    return res

In [ ]:
def solution(X, Y):
    
    nums = []
    
    all = (set(X)&set(Y))
    for i in all:
        for j in range(min(X.count(i), Y.count(i))):
            nums.append(i)
            
    nums.sort(reverse=True)
    if nums == [] :
        return "-1"
    if nums[0] == "0":
        return "0"
    
    return ''.join(nums)

['1', '2', '3']

#### **Lv1. K번째수**
https://school.programmers.co.kr/learn/courses/30/lessons/42748?language=python3

In [ ]:
def solution(array, commands):
    answer = []
    
    for c in commands:
        new = sorted(array[c[0]-1:c[1]])
        answer.append(new[c[2]-1])
    
    return answer

In [ ]:
solution([1, 5, 2, 6, 3, 7, 4],	[[2, 5, 3], [4, 4, 1], [1, 7, 3]])

[5, 6, 3]